# Скопіюйте у terraform.tfvars і підставте своє.

# Ім'я кластера: у теці cluster/ виконайте  terraform output cluster_name
cluster_name = "prizvyshche-eks"

# Адреса ВАШОГО публічного форку цього репозиторію.
git_url = "https://github.com/vash-login/hillel-eks-practice"

# Решта має значення за замовчуванням:
# git_branch    = "main"
# app_path      = "./apps/shop"
# sync_interval = "1m"
